@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background-color: #5442a613;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23160f29'/%3E%3Cstop offset='1' stop-color='%23246a73'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='4' height='4' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='2' cy='2' r='2'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.11'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Ubuntu", "Merriweather", "Montserrat Alternates", cursive;
  color: #160f29;
  text-transform: none;
}

.card-header {
  background-color: #246a73;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: #246a73;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px ridge;
}

.site-footer {
  background-color: #246a73;
  padding: 20px;
  margin: 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(#160f29da), to(#246a73da)), url("./img/rappy-header.png");
  background-image: linear-gradient(to right, #160f29da, #246a73da), url("./img/rappy-header.png");
  color: white;
  min-height: 350px;
}

.jumbotron h1 {
  text-shadow: 0px 0px 5px #160f29;
  text-transform: uppercase;
}

.jumbotron h2 {
  color: #ddbea8;
  text-transform: none;
  text-shadow: 0px 0px 5px #160f29;
  font-variant: all-petite-caps;
}

.navbar-dark {
  background-color: #160f29;
}

.navbar {
  text-transform: uppercase;
  color: white;
  font-size: 0.9em;
  margin-right: 0;
  vertical-align: middle;
}

.navbar .headerlink {
  padding-left: 20px;
}

.navbar .headerlink a:hover {
  background-color: #246a73 !important;
}

.faicon {
  color: #246a73;
}

.main {
  background-color: white;
  padding: 20px;
}

.top {
  background-color: white;
  padding: 0;
  height: 100%;
  position: relative;
  width: 100%;
}

.rowtop {
  position: absolute;
  bottom: 50px;
  right: 50px;
  text-align: right;
  vertical-align: bottom;
  width: 100%;
}

.breadcrumb {
  background-color: #f3dfc1;
}

.button {
  background-color: #160f29;
}

.button :hover {
  background-color: #246a73;
}
/*# sourceMappingURL=App.css.map */